*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.gradle
/build/
/**/build/
/.idea/
/*.iml
*.iws
*.class
*.jar
Thumbs.db
*.jks
*.keystore
/gradle/wrapper/gradle-wrapper.properties